PORT=3001
SUPABASE_URL=https://ucwlgqowqpfmotcofqoz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjd2xncW93cXBmbW90Y29mcW96Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTg4NTM0MCwiZXhwIjoyMDg3NDYxMzQwfQ.gdr9KNPXz4poRFHdVPBUIBQ-B-Wn4qNi5njHm_ePMoI
ENCRYPTION_KEY=northie-security-key-32-chars-!!
JWT_SECRET=9tTJ1U/V5Py7IRKKPh6261oyekWCU4GS3IJEaKmiy+cH9fr99hay/kq4IrqJ0Ocl8Yy8hkE1VWorkiqrcSc15g==
